@import "ui-variables";
@import "syntax-variables";

.rapid-motion {
  &.round-box {
    box-sizing: border-box;
    border-radius: @component-border-radius;
  }
}

atom-text-editor::shadow {
  .rapid-motion-unmatch .region {
  }
  .rapid-motion-match .region {
    .rapid-motion.round-box;
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }
  .rapid-motion-match.top .region {
    border: 2px solid @syntax-color-renamed;
  }
  .rapid-motion-match.bottom .region {
    border: 2px solid @syntax-color-removed;
  }
  .rapid-motion-match.current .region {
    background-color: @background-color-selected;
    border-width: 2px
  }
  .rapid-motion-flash .region {
    .rapid-motion.round-box;
    background-color: @syntax-selection-flash-color;
  }
  .rapid-motion-cursor .region {
    background-color: @background-color-info;
  }
}
